
@{
    ViewData["Title"] = "Goals";
}

<h1>Goals</h1>

<form action="../Home/LifeChoice" method="post">
    <input type="radio" name="Choice" value="Drop Out" />
    <input type="radio" name="Choice" value="Graduate" />
    <input type="radio" name="Choice" value="Join Military" />
    <input type="submit"  value="Submit" />

</form>